body{
	margin:0px;
	font-family: times new roman;
	/*white-space:pre;*/
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	display:block;
	position:fixed;
}
div{
	display: block;
}
iframe,div{
	width:100%;
	height:100%;
	border:none;
	margin:0px;
}
